{{define "infoBookByCode"}}

{{if ne .InfoBook.Error ""}}
<div class="row w-100">
    <center>
        <h3>Nenhum resultado é correspondente.</h3>
    </center>
</div>
{{else}}

<div class="row">
    <div class="col-md-12">
        <h2>Resultados:</h2>
    </div>
</div>

<div class="card mt-1 w-100">
    <h5 class="card-header">{{.InfoBook.Title}}</h5>
    <div class="card-body">
      <p class="card-text">

          <b>Descrição</b>: {{.InfoBook.Description}}<br>
      </p>
      
    </div>
  </div>

{{end}}
{{end}}