{{define "author"}}
<!DOCTYPE html>
<html lang="pt-br">
{{template "head" .}}

<body class="d-flex flex-column min-vh-100">
    {{template "header" .}}
    <main class="container">
        <div class="list-group py-5">
            <form>
                <div class="form-row">
                    <div class="col">
                        <input class="form-control" type="text" placeholder="Buscar {{.CurrentPage}}"
                            aria-label="Search">
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary">
                            <span class="fa fa-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="select-filter-author">Filtro: </label>

                        <div class="form-row" id="select-filter-author">

                            <div class="d-flex flex-row">
                                <input class="form-check-input" type="radio" name="Nome-autor" id="author-name"
                                    value="op-name-author" checked>
                                <label class="form-check-label" for="author-name">
                                    Busca por nome do autor
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                    value="option2">
                                <label class="form-check-label" for="exampleRadios2">
                                    Second default radio
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                                    value="option3" disabled>
                                <label class="form-check-label" for="exampleRadios3">
                                    Disabled radio
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
    {{template "footer" .}}
</body>

</html>
{{end}}